php_flag display_errors on
<IfModule mod_rewrite.c>
    Options +FollowSymlinks
    RewriteEngine On

	  # RewriteCond %{HTTP_HOST} ^daripodelu.ru [OR]
	  # RewriteCond %{HTTP_HOST} ^cb66852.tmweb.ru [OR]
	  # RewriteCond %{HTTP_HOST} ^www.cb66852.tmweb.ru
    # RewriteRule (.*) http://www.daripodelu.ru/$1 [R=301,L]

    # RewriteCond %{REQUEST_URI} ^/(data)
    # RewriteRule ^data/html/(.*)$ data/html/$1 [L]

    RewriteCond %{REQUEST_URI} ^/yandex_47f534ee214cfdfb.html
    RewriteRule ^(yandex_47f534ee214cfdfb\.html)$ $1 [L]

    # RewriteCond %{REQUEST_URI} ^/test.php
    # RewriteRule ^(test\.php)$ $1 [L]

    RewriteCond %{REQUEST_URI} ^/googlee00d140def2cedb5.html
    RewriteRule ^(googlee00d140def2cedb5\.html)$ $1 [L]

    # deal with admin first
    RewriteCond %{REQUEST_URI} ^/(admin)
    RewriteRule ^admin/assets/(.*)$ backend/web/assets/$1 [L]
    RewriteRule ^admin/css/(.*)$ backend/web/css/$1 [L]
    RewriteRule ^admin/img/(.*)$ backend/web/img/$1 [L]

    RewriteCond %{REQUEST_URI} !^/backend/web/(assets|css)/
    RewriteCond %{REQUEST_URI} ^/(admin)
    RewriteRule ^.*$ backend/web/index.php [L]

    RewriteCond %{REQUEST_URI} ^/(assets|css)
    RewriteRule ^assets/(.*)$ frontend/web/assets/$1 [L]
    RewriteRule ^css/(.*)$ frontend/web/css/$1 [L]
    RewriteRule ^img/(.*)$ frontend/web/img/$1 [L]
    RewriteRule ^js/(.*)$ frontend/web/js/$1 [L]

    RewriteCond %{REQUEST_URI} !^/(frontend|backend)/web/(assets|css|img|js)|uploads/
    RewriteCond %{REQUEST_URI} !index.php
    RewriteCond %{REQUEST_FILENAME} !-f [OR]
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^.*$ frontend/web/index.php
</IfModule>
AddDefaultCharset utf-8
AddType 'text/html; charset=utf-8' .html .htm .shtml
